.container-fluid{
  margin-top: 1rem;
}

.row{
  margin-top: 1rem;
}
.grey{
  background-color: #eceeef;
}
table th,td{
  text-align: center;
}
.icons{
  /* margin-left: 65px;
  display: inline-flex; */
}
.trash-icon{
  display: inline;
}
.fa-trash-o{
  color: brown;
}
.fa-edit{
  color: blue;

}
.fa-file-text-o{
color: black;
}
.btn-outline-secondary{
  margin-bottom: 15px;
  margin-top: 15px;
}
.create:hover{
  text-decoration: none;
}
.butt{
  margin-top: 15px;
}
th a{
  color: black;
}
.create{
  margin-left: 35px;
}
.input-group{
  margin-left: 10px;
}
.create-dr{
  margin-left: 80px;
}
.sr-dr{
  margin-left: 90px;
  width: 80%;
}
.navbar-dark .navbar-nav .nav-link {
  color: #a3a3a3;
}
.drp{
  background-color: #eceeef;
}
.card-block{
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.edit-form{
 /* text-align: center; */
 margin-left: 13px;
 margin-top: 10px;
 margin-bottom: 10px;
 width: 100%;
}
.save{
  background-color: #a3a3a3;
}
.show-edit{
  margin-right: 3px;
  margin-left: 5px;
}
.pub-icons{
  display: -webkit-inline-box;
}
.tb{
  margin-top: 35px;
  margin-right: 5px;
}
.table{
  margin-right: 10px;
}
.show-table , .show-table th ,.show-table td {
  border: 1px solid #eceeef;
  border-collapse: collapse;
}
.show-table{
 align-items: center;
 
}
.show-table tr{
  height: 35px;
}
.card-show {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 15%;
}

.card-show:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}