.container-fluid{
  margin-top: 1rem;
}

.row{
  margin-top: 1rem;
}
.grey{
  background-color: #eceeef;
}
table th,td{
  text-align: center;
}
.icons{
  /* margin-left: 65px;
  display: inline-flex; */
}
.trash-icon{
  display: inline;
}
.fa-trash-o{
  color: brown;
}
.fa-edit{
  color: blue;
}
.fa-file-text-o{
color: black;
}
.btn-outline-secondary{
  margin-bottom: 15px;
  margin-top: 15px;
}
.create:hover{
  text-decoration: none;
}
.butt{
  margin-top: 15px;
}
th a{
  color: black;
}
.create{
  margin-left: 35px;
}
.input-group{
  margin-left: 10px;
}
.create-dr{
  margin-left: 80px;
}
.sr-dr{
  margin-left: 90px;
  width: 80%;
}
.navbar-dark .navbar-nav .nav-link {
  color: #a3a3a3;
}
.drp{
  background-color: #eceeef;
}